name: MacOS Build
on: push
env:
  VERSION: ${{ github.sha }}
  ARTEFACT_PATH: ${{ github.workspace}}/build/out/SubnetCalculator-${{ github.sha }}-macOS.zip
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.10.*
      - name: Configure
        run: |
             mkdir ${{ github.workspace}}/build
             cd ${{ github.workspace}}/build
             mkdir out
             cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=./out -G Ninja ..
      - name: Compile
        run: |
             cd ${{ github.workspace}}/build
             ninja
      - name: Deploy
        run: |
              cd ${{ github.workspace}}/build
              ninja install
      - name: Create archive 
        run: |
              cd ${{ github.workspace}}/build/out
              ditto -c -k --sequesterRsrc --keepParent "SubnetCalculator.app" ${{env.ARTEFACT_PATH}}
              ls
      - name: Upload artefact
        uses: actions/upload-artifact@v4
        with:
          name: SubnetCalculator-${{env.VERSION}}-macOS.zip
          path: ${{env.ARTEFACT_PATH}}